.icon{
    color: rgb(250, 144, 4);
    font-size: 30px;
}
body{
    background-color: #0e1353;
}
h1,h2{
    color: gold;
    text-align: center;
}
.grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 15px;
}
.box{
    width: auto;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
Button{
    border-radius: 15px;
    margin-bottom: 10px;
    background-color: #410a52;
    color: gold;
}
button.btn.btn-secondary {
    background-color: purple;
    color: gold;
    margin-left: 250px;
}
